@use '../variables' as *;
@use './mixin' as *;

#about {
    // height: 90vh;
    padding-bottom: 60px;
    background-color: #103c3b;
    padding-top: 100px;

    .about-container {

        width: 85%;

    .about__media {

            height: 500px;
            width: 700px;
            position: relative;

            .about__image-wrapper--primary {

                @include position(absolute, 28px, unset, -12px, unset);
                z-index: 2;

                

                &__img {
                    width: 100%;
                    transition: transform 0.5s;
                    border: $aboutImgBorder;
                    border-radius: 10px;
                    box-shadow: 0px 0px 20px 15px darken($primary-color, 3%);

                    &:hover {
                        transform: scale(1.05)
                    }
                }

            }

            .about__image-wrapper--secondary {

                @include position(absolute, unset, 25px, unset, 50px);
                z-index: 2;

                &__img {
                    width: 100%;
                    transition: transform 0.5s, box-shadow 0.5s; 
                    border: $aboutImgBorder;
                    border-radius: 15px;
                    box-shadow: 0px 0px 20px 15px darken($primary-color, 3%);

                    &:hover {
                        transform: rotate3d(-1, 1, 0.5, 35deg) translateZ(40px);
                        box-shadow: 15px 20px 20px 10px #03302e;
                    }
                }
            }

            &::before {
                content: url(https://aterna.joomlatema.net/templates/aterna/images/about-1-shape1.png);
                @include position(absolute, 0, unset, -45px, unset);
            }

            &::after {
                content: url(https://aterna.joomlatema.net/templates/aterna/images/about-1-shape2.png);
                @include position(absolute, unset, -15px, unset, 15px);
            }
        
    }

    .about__content {
        padding-top: 30px;
        padding-left: 0;

        .about-subtitle {

            @include subtitle(120px);
        }

        .about-title {
            @include title(44px);
        }

        .about-desc {
            @include paragraph(16px, 400, 0.5, 2);
        }

        .about__list {

            @include list(-35px, 18px, 700, 20px, $secondary-color, 30px, 900);
        }
    }

}
}

@media (max-width: 576px) {
    #about {
    // height: 90vh;
    padding-bottom: 60px;
    background-color: #103c3b;
    padding-top: 100px;

    .about-container {


    .about__media {

        height: 330px;

    .about__image-wrapper--primary {
        @include position(absolute, 28px, unset, 12px, unset);

        &__img {
            width: 80% !important;
        }
    }

    .about__image-wrapper--secondary {

        @include position(absolute, unset, 30px, unset, -70px);

        &__img {
            width: 70% !important;
        }
    }

        &::before {
            @include position(absolute, 0, unset, -20px, unset);
        }

        &::after {
            @include position(absolute, unset, -10px, unset, -20px);
        }
        
    }
}
    }
}