@use '../variables' as *;
@use './mixin' as *;

#contact {
    // height: 100vh;
    padding-block: 40px;
    background-color: $primary-color;
    @include flex(row, center, center);

    .contact-media {

        text-align: center;

        &__img {
            border-radius: 10px;
            transition: transform 0.4s;
            box-shadow: 0px 0px 20px 10px darken($primary-color, 4%);

            &:hover {
                transform: scale(1.05);
            }
        }

        &__name {
            @include paragraph(20px, 500, 0.5px, 1.8);
            margin-top: 10px;
        }

        &__number {
            color: $secondary-color;
        }
    }

    .contact-form {
        margin-top: -10px;

        .contact-form__subtitle {
            @include subtitle(110px);
        }

        .contact-form__title {
            @include title(44px);
            width: 45%;
            margin-top: -10px;
        }
    }
}

.flatpickr-calendar {
    background-color: #275b59;
    border-radius: 12px;
    border: 1px solid #275b59;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.flatpickr-current-month, .flatpickr-weekday {
    color: #ffffff !important;
}

.flatpickr-day {
    color: #e0e0e0;
    border-radius: 50%;
}

.flatpickr-day.selected {
    background-color: #008080 !important;
    border-color: #008080 !important;
    color: #ffffff !important;
}

.flatpickr-day:hover {
    background-color: #2e5951 !important;
}


.contact__form {
            width: 100%;
            gap: 10px;
            @include flex(column, unset, unset);

            .contact__input-container {
                gap: 10px;
                @include flex(row, unset, unset);

                .contact__input-icon-wrapper {
                    width: 50%;
                    position: relative;
                }

                    .contact__input-name-wrapper {

                        &::after {
                            @include input_icon("\F4DA");
                        }

                    }

                    .contact__input-email-wrapper {

                        &::after {
                            @include input_icon("\F32C");
                        }

                    }

                    .contact__input-date-wrapper {

                        &::after {
                            @include input_icon("\F1E9");
                        }

                    }

                    .contact__input-phone-wrapper {

                        &::after {
                            @include input_icon("\F5B4");
                        }

                    }

                    .contact__input {
                        border: none;
                        background-color: #275b59;
                        border-radius: 5px;
                        padding: 12px 16px;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.5;
                        color: $secondary-color;
                        transition: 0.3s;
                        width: 100%;
                        z-index: 1;

                        &:active,
                        &:focus,
                        &:focus-visible {
                            outline: 2px solid #2e5951;
                            border-color: transparent;
                        }
                    }
                
                                
            }

            .contact__textarea {
                background-color: #275b59;
                width: 100%;
                border-radius: 5px;
                border: none;
                resize: none;
                padding: 12px 16px;
                color: $secondary-color;

                &:active,
                &:focus,
                &:focus-visible {
                    outline: 2px solid #2e5951;
                    border-color: transparent;
                }
            }
        }

        .contact-form__btn {
            @include btn($white, $secondary-color, 10px 24px, 16px, 500);
        }


@media (min-width: 360px) and (max-width: 1200px) {
    #contact {

        padding-inline: 20px;

    .contact-form {
        margin-top: 10px;

        .contact-form__title {
            width: 100%;
            margin-top: -10px;
        }
    }
}
}