@use './mixin' as *;
@use '../variables' as *;

.go-top {
  @include position(fixed, unset, 15px, unset, 20px);
    color: $white;
    font-size: 20px;
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 5px 10px;
    animation: show-button linear both;
    animation-timeline: scroll();
    animation-range: 0px 80vh;
    transition: background-color 0.4s, transform 0.4s;
    z-index: 999;

    &:hover {
        background-color: rgba($whyUs-title-color, 0.8);
        transform: translateY(-4px);
    }
}

@keyframes show-button {
  0%, 30% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.go-top__pages {
    animation-range: 0px 30vh;
}