@use '../variables' as *;
@use './mixin' as *;

#hero {
  height: 100vh;
  position: relative;
}

.carousel-item__img {
  width: 100%;
  height: 100%;

  // Target the image tag inside the wrapper
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.hero-main {
  
  @include position(absolute, 44%, unset, 10%, unset);

  .hero-card {
    background-color: transparent;
    border: none;
    width: 51%;
    padding: 10px 25px;
    background-color: rgba($black, 0.8);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 20px rgba($black, 0.8);

    .card-title {
      color: $white;
      font-size: 50px;
      font-family: $fontjost;
      font-weight: 500;

      span {
        color: $secondary-color;
      }
    }

    .card-text {
      
      @include paragraph(21px, 700, unset, unset);
      
    }

    .hero__btn {
      
      @include btn($white, $secondary-color, 10px 24px, 14px, 500);

      margin-top: 20px;

    }

    .hero__btn-secondary {
      
      @include btn($white, $primary-color, 10px 24px, 14px, 500);

      margin-top: 20px;
    }
  }
}

.carousel-control-prev, .carousel-control-next {
  margin-inline: 20px;
  background-color: #000000c8;
  width: 60px;
  height: 80px;
  border-radius: 6px;
  top: 50%;
  transform: translatey(50%);
  transition: all 0.4s;

  &:hover {
    background-color: #000000;
  }
}



@media (min-width: 1200px) and (max-width: 1400px) {
  .carousel-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

  }
}

@media (min-width: 576px) and (max-width: 1199px) {

  #hero {
    height: 60vh;
  }

  .carousel-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

  }
  .hero-main {

  
  @include position(absolute, 30%, unset, 10%, unset);

  .hero-card {

    width: 90%; 


      .card-title {
        font-size: 40px;
      }

      .card-text {
      
        @include paragraph(18px, 700, 1px, unset);
        
      }
  }

  }

  .carousel-control-prev, .carousel-control-next {
    display: none;
  }
  
}

@media (min-width: 370px) and (max-width: 576px) {
  #hero {
    height: 60vh;
  }

  .carousel-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .hero-main {
  
  @include position(absolute, 30%, unset, 10%, unset);

  .hero-card {

    width: 90%;
    padding: 10px 14px;

      .card-title {
        font-size: 20px;
      }

      .card-text {
      
        @include paragraph(10px, 400, 1px, unset);
        margin-bottom: 0;
        
      }

      .hero__btn {
      
      @include btn($white, $secondary-color, 8px 14px, 12px, 500);

      margin-top: 20px;

    }

    .hero__btn-secondary {
      
      @include btn($white, $primary-color, 8px 14px, 12px, 500);

      margin-top: 20px;
    }
  }

  }

  .carousel-control-prev, .carousel-control-next {
    display: none;
  }
}

@media (min-width: 370px) and (max-width: 400px) {
  

.hero-main {

  .hero-card {

    .hero__btn {
      
      @include btn($white, $secondary-color, 8px 10px, 12px, 500);

    }

    .hero__btn-secondary {
      
      @include btn($white, $primary-color, 8px 10px, 12px, 500);

    }
  }
}
}