@use '../variables' as *;

// ! flex
@mixin flex($flex-dir, $justify-content, $align-items){
    display: flex;
    flex-direction: $flex-dir;
    justify-content: $justify-content;
    align-items: $align-items;
}


// ! position
@mixin position($position, $top, $bottom, $left, $right) {
    position: $position;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}


// ! btn
@mixin btn($color, $background, $padding, $font_size, $font_weight) {
    color: $color;
    background-color: $background;
    border: none;
    border-radius: 6px;
    padding: $padding;
    font-size: $font_size;
    font-weight: $font_weight;
    letter-spacing: 1.5px;
    background-image: linear-gradient(
        to bottom,
        #ffb40a 50%,
        $background 50%,
    );
    background-size: 100% 200%;
    background-position: bottom;
    transition: background-position 0.5s cubic-bezier(0.4, 0, 0.2, 1),
                color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 0.3s ease-in-out, transform 0.3s;

    &:hover {
        background-position: top;
        transform: translate(-5px, -5px);
    }
}


// ! animation
@mixin subtitle-animation($animation, $animation_duration) {
    animation: $animation;
    animation-duration: $animation_duration;
}


// ! subtitle 
@mixin subtitle($width) {
    background-color: $subtitle-background;
    color: $white;
    font-size: 16px;
    width: $width;
    text-align: center;
    padding-block: 5px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 2px darken($subtitle-background, 6);

        &:hover {
            @include subtitle-animation(flip, 1.5s)
        }
}


// ! title
@mixin title($font_size) {
    font-size: $font_size;
    font-weight: 500;
    color: $white;
    font-family: $fontrubik;
    transition: font-weight 0.3s;


    span {
        color: $secondary-color;
    }

    &:hover {
        font-weight: 600;
    }
}   

// ! paragraph
@mixin paragraph($font_size, $font_weight, $letter_spacing, $line_height) {
    font-size: $font_size;
    color: $white;
    font-weight: $font_weight;
    font-family: $fontrubik;
    letter-spacing: $letter_spacing;
    line-height: $line_height;
}


// ! filter item icon 
@mixin filter-icon($font_size, $wevkit_stroke) {
    color: $secondary-color;
    font-size: $font_size;
    background-color: rgba(0, 0, 0, 0.66);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke: $wevkit_stroke $secondary-color;
}


// ! list
@mixin list($margin-left, $font_size, $font_weight, $gap, $before_color, $before_font_size, $before_font_weight) {
    margin-left: $margin-left;
    color: $white;
    font-size: $font_size;
    font-weight: $font_weight;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: $gap;

    &::before {
        content: '\F633';
        font-family: "bootstrap-icons";
        color: $before_color;
        font-size: $before_font_size;
        font-weight: $before_font_weight;
        
    }
}


// ! form input icon
@mixin input_icon($content) {
    content: $content;
    font-family: "bootstrap-icons";
    font-size: 18px;
    font-weight: normal;
    color: $white;
    @include position(absolute, 10px, unset, unset, 15px);
}