@use '../variables' as *;
@use './mixin' as *;

#suggestedItems {
    // height: 135vh;
    background-color: #28504f;
    // padding-top: 40px;
    padding-block: 40px;

    .suggested-subtitle {
            @include subtitle(140px);
            margin: 0 auto;
    }

    .suggested-title {
        @include title(44px);
        text-align: center;
        margin-top: 40px;
    }

    .suggested-container {
        margin-top: 40px;
        
        .suggested__btn {
            padding: 15px 30px;
            min-width: 200px;
            border: none;
            background-color: $subtitle-background;
            color: $white;
            font-family: $fontrubik;
            transition: background-color 0.3s;

            &:hover {
                background-color: $secondary-color;
            }
        }

            .suggested__btn-first{
                border-radius: 30px 0 0 30px ;
            }

            .suggested__btn-last{
                border-radius: 0 30px 30px 0 ;
            }

            .suggested__active {
                background-color: $secondary-color;
            }
    }

    .suggested__tab-container {
        padding-top: 40px;
        width: 83%;
        margin: 0 auto;

        .suggested__tab-title{

            @include title(44px);

        }

        .suggested__tab-p {

            text-align: justify;

            @include paragraph(16px, 400, unset, 1.8);

            margin-top: 20px;
        }

        .tab__btn {
            @include btn($white, $secondary-color, 10px 24px, 16px, 500);
        }

        .suggested__tab-media {
            // overflow: hidden;
            margin-top: 70px;
            
            

            &__img {
                border-radius: 50px;
                filter: grayscale(1);
                transform: translateX(30px) translateY(-30px);
                transition: transform 0.3s, filter 0.3s, border-radius 0.3s;
                box-shadow: 0px 0px 20px 5px $primary-color;
            


                &:hover {
                    border-radius: 10px;
                    transform: translateX(0px) translateY(0px);
                    filter: grayscale(0);
            
                }
            }

            
        }
    }
}


@media (max-width: 576px) {
    #suggestedItems {

    .suggested-container {
        
        .suggested__btn {
            padding: 10px 10px;
            min-width: 150px;
            border-radius: 30px 30px 30px 30px;
        }

        .suggested__btn-first{
            border-radius: 30px 30px 30px 30px;
        }

        .suggested__btn-last{
            border-radius: 30px 30px 30px 30px;
        }
    }

    .suggested__tab-container {
        width: 100%;
        padding-inline: 20px;
        .suggested__tab-content {
            width: 100%;
        }

        .suggested__tab-media {
            width: 100%;

            &__img {
                transform: translateX(10px) translateY(-30px);
            }  
        }
    }
}
}