@use '../variables' as *;
@use '../funcs/mixin' as *;

#pages_hero {
    background: url(https://aterna.joomlatema.net/images/sampledata/slider-images/slider-1.jpg);
    width: 100%;
    padding-top: 150px;
    padding-bottom: 40px;
    background-position: center;
    background-size: cover;

    @media (max-width: 768px) {
        padding-inline: 10px;
    }
    

    .pages-hero__wrapper {
        
        border-radius: 8px;
        padding: 0;
        margin: 0;
        background-color: rgba($footer-background, 0.7);
        @include flex(row, center, center);

        .pages-hero__title {
            @include paragraph(40px, 500, 0.5px, 1.8);
            margin: 0;
            width: 260px;
            text-align: center;

            span {
                color: $orange;
            }

            @media (max-width: 768px) {
                @include paragraph(30px, 500, 0.5px, 1.8);
            }

            @media (max-width: 500px) {
                margin: 0 auto;
            }
        }

        

        .pages-hero__nav-wrapper {
            @include flex(row, space-evenly, center);
            width: 300px;

            &.pages-hero__nav-wrapper__long {
                width: 400px;
            }

            .pages-hero__nav-p {
                @include paragraph(16px, 400, 0.5px, 1.8);
                margin: 0;
            }

            .pages-hero__nav-a {
                @include paragraph(16px, 500, 0.5px, 1.8);
                text-decoration: none;
                color: $secondary-color;
                transition: color 0.4s;

                &:hover {
                    color: $white;
                }
            }

            @media (max-width: 500px) {
                margin: 0 auto;
            }
        }
    }
}