$navbackground: #1c4645a9;
$subtitle-background: #1c4645;
$primary-color: #103c3b;
$secondary-color: #b07e50;
$whyUs-title-color: #ffb40a;
$gardening-bottom: #274e4d;
$red: #ff0000;
$orange: #f78525;
$footer-background: #091f1e;
$footer-socials: #57575749;
$white: #ffffff;
$black: #000000;
$fontkode: kode mono;
$fontjost: Jost;
$fontrubik: Rubik;
$fontbootstrap: "bootstrap-icons";
$aboutImgBorder: 10px solid #1c4645;
